.shopping_cart {
    width: 300px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #363534;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

.basket_dish_list {
    width: 280px;
    border-radius: 16px;
    background-color: #FDEADC;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
}

.basket_dish_list h4, span {
    color: black
}

.shopping_cart h3 {
    padding-bottom: 16px;
}


.dish_category_full_width2 {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    background-color: orange;
    margin-bottom: 40px; 
}

.dish_category_max_width2 {
    min-height: 100%;
    max-width: 1440px;
    width: calc(100% - 300px);
    background-color: orange;
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




