.shopping_cart {
    width: 300px;
    height: 600px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #363534;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0
}

.shopping_cart img {
    width: 20px;
    height: 20px;
}

.shopping_cart_content {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopping_cart_content_empty {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    text-align: center;
    line-height: 40px;
}

.basket_dish_list {
    width: 240px;
    border-radius: 16px;
    background-color: #FDEADC;
    padding: 16px;
    margin-bottom: 16px;
}

.basket_dish_list h4, span {
    color: black
}

.shopping_cart h3 {
    padding-bottom: 16px;
}

.basket_dish_list h5 {
    color: black;
    font-size: 16px;
}

.basket_dish_list_bottom {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket_dish_summary_prices {
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.basket_line {
    width: 250px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 8px;
}

.shopping_cart button {
    background-color: orange;
    border: none;
    padding: 8px 16px;
    border-radius: 32px;
}

.shopping_cart button h2 {
    font-weight: 500;
}

.shopping_cart button:hover {
    cursor: pointer;
}

.basket_dish_list_bottom_counter {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px
}

.basket_dish_list_bottom_counter img {
    height: 20px;
}

.basket_dish_list_bottom_counter img:hover {
    cursor: pointer;
}

.basket_dish_list_bottom_counter h4:hover {
    cursor: pointer;
}

.basket_dish_prices_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket_dish_prices_section_button {
    padding-top: 16px;
}

.basket_dish_list_summary {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    scrollbar-width: thin;
    margin-bottom: 16px;
}

.basket_dish_list_title_bin {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.basket_dish_list_title_bin img:hover {
    cursor: pointer;
}

.display_none {
    display: none;
}

.basket_empty_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket_empty_content img {
    width: 120px;
    height: 120px;
}

.dilvery_pick_switch_section {
    width: 100%;
    height: 29px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.icon {
    width: 29px;
    height: 29px;
}

.delivery_icon {
    background-image: url(../assets/icons/delivery.svg);
}

.delivery_selected_icon {
    background-image: url(../assets/icons/delivery_selectedsvg.svg);
}

.delivery_icon:hover {
    cursor: pointer;
    background-image: url(../assets/icons/delivery_selectedsvg.svg)
}

.pickup_icon {
    background-image: url(../assets/icons/pickup.svg);
}

.pickup_selected_icon {
    background-image: url(../assets/icons/pickup_selected.svg);
}

.pickup_icon:hover {
    cursor: pointer;
    background-image: url(../assets/icons/pickup_selected.svg)
}

/* RESPONSIVE */

@media (max-width: 500px) {
    .basket_dish_list {
        width: 250px;
    }

    .basket_dish_summary_prices {
        width: 250px;
    }

    .basket_line {
        width: 250px;
    }
}



