* {
    box-sizing: border-box;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    color: white;
}

header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: orange;
}

.header_content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

main {
    width: 100%;
    min-height: calc(100dvh - 240px);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.main_header {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_header img {
    max-width: 100%;
}

.dish_category_full_width {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    background-color: orange;
    margin-bottom: 40px; 
}

.dish_category_max_width {
    min-height: 100%;
    max-width: 1440px;
    width: 100%;
    background-color: orange;
    padding-left: 80px;
}

.dish_content_full_width {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dish_content_max_width {
    width: 100%;
    max-width: 1440px;
    display: flex;
}

.dish_content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
}

footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: orange;
}

.footer_content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background-color: blue;
}