.dialog_order_received {
    width: 240px;
    height: 400px;
    border: none;
    border-radius: 16px;
    background-color: #363534;
    margin-top: calc((100% - 400px)/ 2);
    margin-left: calc((100% - 240px)/ 2);
}

.dialog_header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
}

.dialog_header img {
    width: 16px;
    height: 16px;
}

.dialog_header img:hover {
    cursor: pointer;
}

.dialog_main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.dialog_main h2 {
    padding-bottom: 16px;
}

/* DIALOG CART RESPONSIVE */

.dialog_shopping_cart {
    width: 300px;
    height: 600px;
    border: none;
    border-radius: 16px;
    background-color: #363534;
    margin-top: calc((100% - 600px)/2);
    margin-left: calc((100% - 300px)/2);
}

.shopping_cart_mobile {
    width: 100%;
    height: 100%;
}

.shopping_cart_mobile h3 {
    text-align: center;
}