
.full_dish_content {
    width: 100%;
}

.dishes_category_list {
    width: calc(100% - 300px);
    padding: 40px 16px;
    padding-top: 0;
}

.dish_card_stats {
    width: 100%;
}

.dish_card {
    width: 100%;
    height: 180px;
    padding: 16px 16px;
    background-color: #FDEADC;
    border-radius: 16px;
    display: flex;
    gap: 16px
}

.dish_card:hover {
    box-shadow: 5px 5px 5px lightgray;

}

.dish_card_header {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-between;
}

.dish_card_header h3 {
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.dish_card_middle {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px
}

.dish_card_middle p {
    color: black;
}

.dish_card_bottom {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.dish_card_bottom button {
    background-color: white;
    border: none;
    border-radius: 16px;
    color: black;
    font-weight: 500;
    padding: 8px 8px;
}

.dish_card_bottom button:hover {
    color: orange;
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgray;
}

.dish_card_image {
    width: 30%;
}

.dish_card img {
    height: 100%;
    width: 240px;
    object-fit: cover;
    border-radius: 8px;
}

