
main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.main_content_max_width {
    padding: 80px 120px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_content p,a {
    color: white;
}

.main_content_max_width h1,
.main_content_max_width p,
.main_content_max_width a{
    color: black;
} 

/* RESPONSIVE */
@media (max-width: 800px) {
    .main_content_max_width {
        padding: 40px 16px;
    }
}
