* {
    box-sizing: border-box;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    color: white
}

/* CONTENTBEGRENZUNG */
header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    height: 100dh;
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}

.header_content {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-color: #03242E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content {
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-height: calc(100dvh - 240px);
    padding: 80px 120px;
    background-color: #011721;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px 32px;
    flex-wrap: wrap;
}

.footer_content {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background-color: #03242E;
}